BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 1
ContinuationIndentWidth: 1
TabWidth: 1
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
MaxEmptyLinesToKeep: 0
KeepEmptyLinesAtTheStartOfBlocks: false
BinPackArguments: true
BinPackParameters: true
SortIncludes: Never
